* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

li {
    list-style: none;
}

.container {
    max-width: 148m4px;
    margin: 0 auto;
}

.header {
    padding: 20px 0 130px 0;
    background-color: black;
    color: #E4E4E4;
}

.header__list {
    padding-top: 50px;
    display: flex;
    gap: 145px;
    justify-content: center;
}

.header__list .active {
    border-bottom: 1px solid #E4E4E4;
    color: #00C4F0;
}

.header__list-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 21px;
    border-bottom: 1px solid transparent;
    transition: all .4s ease-in-out;
    padding-bottom: 10px;
}

.header__list li:hover {
    border-bottom: 1px solid #E4E4E4;
    color: #00C4F0;
}

.header__content {
    padding-top: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__text {
    max-width: 40%;
}

.header__text h1 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 82px;
    color: #E4E4E4;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.header__text h1:hover {
    text-shadow: 0 0 30px #0b819b;
}

.header__text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: #E4E4E4;
    margin-top: 50px;
}

.header__social {
    font-size: 20px;
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

.header__social a {
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all .5s ease-in;
}

.header__social a:hover {
    border: 2px solid white;
    background-color: #0b819b;
    text-shadow: 0 0 20px white;
}

.header__image {
    max-width: 50%;
    height: 500px;
    animation: anim 3s infinite ease-in;
}

@keyframes anim {
    50% {
        transform: translateY(50px);
    }
}

.header__image img {
    max-width: 100%;
}

.skills {
    padding: 100px 0;
    background-color: #0c5768;
}

.skills__wrapper {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 82px;
    text-align: center;
    gap: 15px;
    color: #E4E4E4;
    padding: 20px 0;
}



.skills__content {
    margin: 50px 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.skills__content-item {
    width: 30%;
    height: 270px;
    background: #131313;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    color: #E4E4E4;
    padding: 5% 0;
    cursor: pointer;
    transition: all .5s ease-in;
}

.skills__content-item:hover {
    transform: scale(1.1);
}

.skills__content-item i {
    font-size: 70px;
    color: #00C4F0;
}

.skills__content-item span {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding-top: 30px;
}

.footer {
    background-color: black;
}

.footer__copyright {
    color: #E4E4E4;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.footer__copyright span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.footer__copyright i {
    padding: 5px;
}

.about {
    padding: 100px 0;
    background-color: #0c5768;
}

.about__wrapper {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 82px;
    text-align: center;
    gap: 15px;
    color: #E4E4E4;
    padding: 20px 0;
}

.about__wrapper i {
    font-size: 50px;
}

.about__content {
    max-width: 70%;
    margin: 50px auto;
    position: relative;
}

.about__content-item {
    text-align: center;

}

.about__content-item::after {
    content: '';
    position: absolute;
    background-image: url(../img/Coder-removebg-preview.png);
    width: 400px;
    height: 445px;
    bottom: -59px;
    right: -150px;
}

.about__content-item p {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding-top: 30px;
    color: #E4E4E4;
}

.gallery {
    padding: 100px 0;
    background-color: #0c5768;
    text-align: center;
}


.gallery__wrapper {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 82px;
    padding: 20px 0;
    color: #E4E4E4;

}

.gallery__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
    color: white;
}

.gallery__wrapper i {
    font-size: 50px;
}

.gallery__content {
    margin: 80px auto;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
}

.gallery__content-item {
    position: relative;
    max-width: 30%;
    height: 400px;
    cursor: pointer;
}

.gallery__content-item img {
    max-width: 100%;
    height: 100%;
    box-shadow: 0 0 10px black;

}

.gallery__content-item:hover .gallery__content-text {
    opacity: 1;
    max-height: 50%;
}

.gallery__content-text {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 82px;
    color: #E4E4E4;
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    max-height: 0%;
    background-color: rgb(21, 20, 20, 0.7);
    padding: 15% 0;
    text-shadow: 0 0 30px white;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.portfolio {
    padding: 100px 0;
    background-color: #0c5768;

}

.portfolio__wrapper {
    text-align: center;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 82px;
    color: #E4E4E4;
    padding: 20px 0;

}


.portfolio__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #E4E4E4;
    margin-top: 30px;
    text-align: center;
}

.portfolio__wrapper .fa-file-powerpoint {
    color: #E4E4E4;
}

.portfolio__content {
    max-width: 60%;
    margin: 5% auto;
    padding: 0 100px;
}

.portfolio__content-item {
    min-width: 80%;
    padding-right: 0;
    height: 800px;

}

.portfolio__content-item img {
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in;
}

.portfolio__content-item img:hover {
    box-shadow: 0 10px 20px white;
}

.skills__1 {
    padding: 20px 0;
    background-color: #0c5768;

}

.skills__1-wrapper {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 82px;
    color: #E4E4E4;
    padding: 50px 0;
    text-align: center;
}

.skills__1-wrapper p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #E4E4E4;
}

.skills__1-wrapper .fa-link {
    font-size: 50px;
    color: #E4E4E4;
}

.skills__1-content {
    max-width: 70%;
    margin: 20px auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #E4E4E4;
    position: relative;
}

.skills__1-content-item {
    min-width: 30%;
    height: 200px;
    background: #131313;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    color: #E4E4E4;
    padding: 7% 10px;
    cursor: pointer;
    transition: all .5s ease-in;
}

.skills__1-content-item span {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 21px;
    color: #E4E4E4;
}

.skills__1-content-text {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #E4E4E4;
    width: 100%;
    height: 0%;
    background-color: #131313;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
    border-radius: 30px;
    padding: 10px;
}

.skills__1-content-item:hover .skills__1-content-text {
    opacity: 1;
    height: 80%;
}

.skills__1-content-item:hover {
    transform: scale(1.1);
}

.skills__1-content-item i {
    font-size: 30px;
    padding: 5px;
}

@media (max-width:1200px) {
    .container {
        max-width: 990px;
    }

    .header {
        padding-bottom: 80px;
    }

    .header__list {
        gap: 50px;
    }

    .header__content {
        padding-top: 80px;
        justify-content: space-around;
        align-items: center;
    }

    .header__text {
        max-width: 50%;
    }

    .header__text h1 {
        font-size: 45px;
        line-height: 82px;
    }

    .header__text p {
        font-size: 18px;
        margin-top: 30px;
    }

    .header__image {
        max-width: 40%;
    }

    .skills__wrapper {
        font-size: 40px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .skills__1-content {
        max-width: 100%;
    }

    .about {
        padding: 100px 0 150px 0;
    }

    .about__wrapper {
        font-size: 40px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .about__content-item::after {
        content: '';
        position: absolute;
        bottom: -229px;
        right: 85px;
    }

    .gallery__wrapper {
        font-size: 40px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .portfolio__content img {
        max-width: 100%;
    }

    .skills__1-wrapper {
        font-size: 40px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .portfolio__wrapper {
        font-size: 40px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:991px) {
    .container {
        max-width: 765px;
    }

    .header__content {
        flex-direction: column;
    }

    .header__text {
        max-width: 80%;
        z-index: 1;
    }

    .header__image {
        max-width: 80%;
        position: absolute;
        top: 10%;
    }

    .skills__content {
        max-width: 100%;
    }

    .about {
        padding-bottom: 200px;
    }

    .gallery__content {
        max-width: 100%;
    }

}

@media (max-width:768px) {
    .container {
        max-width: 575px;
    }

    .header__list {
        gap: 20px;
        font-size: 18px;
    }

    .header__text {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .about {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .about__content {
        margin-top: 20px;
        max-width: 80%;
    }

    .about__content-item::after {
        display: none;
    }

    .gallery__wrapper {
        font-size: 40px;
    }
    
    .gallery__content{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .gallery__content-item{
        max-width: 80%;
    }
    .portfolio {
        padding: 50px 0;
    }

    .portfolio__content {
        max-width: 90%;
        height: 400px;
    }

    .skills__1-content {
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }
    .skills__1-content-item{
        padding: 20% 0;
    }
}

@media (max-width:576px) {
    .container {
        max-width: 321px;
    }

    .header__list {
        flex-wrap: wrap;
    }

    .header__list-item {
        font-size: 17px;
    }

    .header__text p {
        font-size: 15px;
    }

    .skills {
        padding: 30px 0;
    }

    .skills__content {
        flex-direction: column;
        align-items: center;
    }

    .skills__content-item {
        min-width: 60%;
    }

    .footer__copyright {
        flex-direction: column;
        gap: 20px;
    }

    .about {
        padding: 20px 0;
    }

    .about__wrapper {
        font-size: 30px;
        padding: 10px 0;
    }

    .about__text {
        font-size: 16px;
    }

    .gallery {
        padding: 30px 0;
    }

    .gallery__wrapper {
        font-size: 30px;
    }

    .gallery__text {
        font-size: 16px;
    }

    .gallery__content {
        max-width: 80%;
    }

    .gallery__content-item {
        max-height: 300px;
    }

    .portfolio {
        padding: 20px 0;
    }

    .portfolio__wrapper {
        font-size: 30px;
    }

    .portfolio__text {
        font: 16px;
        padding-bottom: 20px;
    }

    .portfolio__content {
        max-width: 80%;
        padding: 10px;
    }

    .portfolio__content-item {
        height: 300px;
    }

    .portfolio__content-item img {
        min-width: 100%;
        height: 100%;
    }

    .skills {
        padding: 30px 0;
    }
    .skills__1-wrapper{
        font-size: 30px;
    }
    .skills__1-content-item span{
        font-size: 20px;
    }
}